<a href="https://colab.research.google.com/github/iam-abbas/Coronavirus-Data-Visualization/blob/master/COVID_19_Confirmed_curation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
data = pd.read_csv('covid_19_data.csv')
data.head()

   SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0    1      01/22/2020          Anhui  ...       1.0    0.0        0.0
1    2      01/22/2020        Beijing  ...      14.0    0.0        0.0
2    3      01/22/2020      Chongqing  ...       6.0    0.0        0.0
3    4      01/22/2020         Fujian  ...       1.0    0.0        0.0
4    5      01/22/2020          Gansu  ...       0.0    0.0        0.0

[5 rows x 8 columns]

In [0]:
data['ObservationDate'] = data['ObservationDate'].apply(pd.to_datetime())
# data['Country'] = data['Country/Region'].replace('Mainland China', 'China')
data['Country'] = data['Country/Region']
data = data.drop(columns=['SNo', 'Province/State', 'Last Update', 'Deaths', 'Country/Region', 'Recovered'])
data.head()

  ObservationDate  Confirmed         Country
0      2020-01-22        1.0  Mainland China
1      2020-01-22       14.0  Mainland China
2      2020-01-22        6.0  Mainland China
3      2020-01-22        1.0  Mainland China
4      2020-01-22        0.0  Mainland China

In [0]:
data = data.groupby(['ObservationDate', 'Country']).sum().reset_index()
data.tail(25)

     ObservationDate               Country  Confirmed
3373      2020-03-19           South Korea     8565.0
3374      2020-03-19                 Spain    17963.0
3375      2020-03-19             Sri Lanka       60.0
3376      2020-03-19                 Sudan        2.0
3377      2020-03-19              Suriname        1.0
3378      2020-03-19                Sweden     1439.0
3379      2020-03-19           Switzerland     4075.0
3380      2020-03-19                Taiwan      108.0
3381      2020-03-19              Tanzania        6.0
3382      2020-03-19              Thailand      272.0
3383      2020-03-19           The Bahamas        0.0
3384      2020-03-19            The Gambia        0.0
3385      2020-03-19                  Togo        1.0
3386      2020-03-19   Trinidad and Tobago        9.0
3387      2020-03-19               Tunisia       39.0
3388      2020-03-19                Turkey      192.0
3389      2020-03-19                    UK     2716.0
3390      2020-03-19                    US    13680.0
3391      2020-03-19               Ukraine       16.0
3392      2020-03-19  United Arab Emirates      140.0
3393      2020-03-19               Uruguay       79.0
3394      2020-03-19            Uzbekistan       23.0
3395      2020-03-19             Venezuela       42.0
3396      2020-03-19               Vietnam       85.0
3397      2020-03-19                Zambia        2.0

In [0]:
dates = [str(x)[:10] for x in data['ObservationDate'].unique()]
countries = [x for x in data['Country'].unique()]

In [0]:
cases = pd.DataFrame(columns=dates)
cases.insert(0, 'Country', countries)

In [0]:
cases.head()

          Country 2020-01-22 2020-01-23  ... 2020-03-17 2020-03-18 2020-03-19
0       Hong Kong        NaN        NaN  ...        NaN        NaN        NaN
1           Japan        NaN        NaN  ...        NaN        NaN        NaN
2           Macau        NaN        NaN  ...        NaN        NaN        NaN
3  Mainland China        NaN        NaN  ...        NaN        NaN        NaN
4     South Korea        NaN        NaN  ...        NaN        NaN        NaN

[5 rows x 59 columns]

In [0]:
cases = cases.set_index("Country")
cases.head()

               2020-01-22 2020-01-23  ... 2020-03-18 2020-03-19
Country                               ...
Hong Kong             NaN        NaN  ...        NaN        NaN
Japan                 NaN        NaN  ...        NaN        NaN
Macau                 NaN        NaN  ...        NaN        NaN
Mainland China        NaN        NaN  ...        NaN        NaN
South Korea           NaN        NaN  ...        NaN        NaN

[5 rows x 58 columns]

In [0]:
for country in countries:
  for date in dates:
    try:
      case = int(data['Confirmed'].loc[(data['ObservationDate'] == date) & (data['Country'] == country)])
    except:
      case = 0
    
    cases.at[country, date] = case

In [0]:
cases.head(30)

                     2020-01-22 2020-01-23  ... 2020-03-18 2020-03-19
Country                                     ...
Hong Kong                     0          2  ...        181        208
Japan                         2          1  ...        889        924
Macau                         1          2  ...         15         17
Mainland China              547        639  ...      80906      80931
South Korea                   1          1  ...       8413       8565
Taiwan                        1          1  ...        100        108
Thailand                      2          3  ...        212        272
US                            1          1  ...       7786      13680
Australia                     0          0  ...        568        681
Brazil                        0          0  ...        372        621
Colombia                      0          0  ...         93        102
Malaysia                      0          0  ...        790        900
Mexico                        0          0  ...         93        118
Philippines                   0          0  ...        202        217
Singapore                     0          1  ...        313        345
Vietnam                       0          2  ...         75         85
France                        0          0  ...       9052      10886
Nepal                         0          0  ...          1          1
Canada                        0          0  ...        657        800
Cambodia                      0          0  ...         35         37
Ivory Coast                   0          0  ...          6          9
Sri Lanka                     0          0  ...         51         60
Germany                       0          0  ...      12327      15320
Finland                       0          0  ...        336        400
United Arab Emirates          0          0  ...        113        140
India                         0          0  ...        156        194
Italy                         0          0  ...      35713      41035
Russia                        0          0  ...        147        199
Sweden                        0          0  ...       1279       1439
UK                            0          0  ...       2642       2716

[30 rows x 58 columns]

In [0]:
cases.to_csv("data_final.csv", encoding='utf-8', index=True)

In [0]:
cases_without_china = cases.drop("Mainland China")

In [0]:
cases_without_china.to_csv("data_final_non_china.csv", encoding='utf-8', index=True)